@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
  font-family: "Roboto Mono", monospace;
  background-image: url("./public/backgroundimg.jpeg");
  background-size: cover;
  color: white;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  text-align: center;
}

.profile .name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile .username {
  cursor: pointer;
}

.profile .change-mode {
  display: none;
}
